<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wuttipong Phongam Portfolio</title>
     <link rel="stylesheet" href="/index.css">

</head>
<body>
    <header>
        <a class="navbar" href="/profile"><h3>Home</h3></a>
        <a class="navbar" href="/profile/aboutme"><h3>Aboutme</h3></a>
        <a class="navbar" href="/profile/Education"><h3>Education</h3></a>
        <a class="navbar" href="/profile/workexperience"><h3>workexperience</h3></a>
        <a class="navbar" href="/profile/skill"><h3>skill</h3></a>
        </header>
        <main>
            {{{body}}}
        </main>
    
</body>
</html>