<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wuttipong Phongam Portfolio</title>
     <link rel="stylesheet" href="/index.css">

</head>
<body>
    <header>
        <a class="navbar" href="/profile">Home</a>
        <a class="navbar" href="/profile/aboutme">Aboutme</a>
        <a class="navbar" href="/profile/Education">Education</a>
        <a class="navbar" href="/profile/workexperience">workexperience</a>
        <a class="navbar" href="/profile/skill">skill</a>
        </header>
        <main>
            {{{body}}}
        </main>
    
</body>
</html>